/*
*
*	Config scss file
*	Where variables are defined
*
*/
/*
*
*	Main scss file
*	General styles
*
*/
body {
  background-color: #d8e2dc;
  margin: 0px; }
  body p {
    color: #4f6367; }
  body h3 {
    color: #4f6367; }
  body footer {
    background-color: #4f6367;
    padding: 20px 0;
    color: #ffa552; }
    body footer p {
      color: #FFF; }
  body .smallis-container {
    margin: 0px auto; }
    @media (min-width: 767px) {
      body .smallis-container {
        width: 767px; } }
    @media (min-width: 992px) {
      body .smallis-container {
        width: 992px; } }
    @media (min-width: 1200px) {
      body .smallis-container {
        width: 1200px; } }
  body .smallis-grid-container {
    display: grid; }
  body .smallis-grid-child-1 {
    grid-row: 1/2; }
  body .align-baseline {
    align-content: baseline; }
  body .justify-end {
    justify-self: end; }
  body .justify-start {
    justify-self: start; }

header .smallis-site-info h1 a {
  text-decoration: none;
  color: #4f6367; }

header .smallis-navigation-wrap ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px; }
  header .smallis-navigation-wrap ul li a {
    text-decoration: none;
    color: #4f6367;
    font-weight: bold; }
    header .smallis-navigation-wrap ul li a:hover {
      color: #ffa552; }

.page .page-title-container {
  background-color: #4f6367;
  color: #ffa552;
  padding: 10px 0px;
  font-weight: bold; }

.archive .archive-title-container {
  background-color: #4f6367;
  color: #ffa552;
  padding: 10px 0px;
  font-weight: bold; }

.archive .smallis-posts-container {
  margin: 20px auto;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr; }
  .archive .smallis-posts-container .smallis-post {
    border: 2px solid #4f6367; }
    .archive .smallis-posts-container .smallis-post a {
      text-decoration: none; }
    .archive .smallis-posts-container .smallis-post .smallis-post-image-container {
      height: 300px;
      background-size: cover;
      background-position: center center; }
    .archive .smallis-posts-container .smallis-post .smallis-post-title-container {
      padding: 10px; }
    .archive .smallis-posts-container .smallis-post .smallis-post-exceprt-container {
      padding: 10px; }
