/*
*
*	Config scss file
*	Where variables are defined
*
*/
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url("./assets/font/Lato.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url("./assets/font/Lato.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/*
*
*	Main scss file
*	General styles
*
*/
body {
  background-color: #d8e2dc;
  margin: 0px;
  font-family: 'Lato', sans-serif; }
  body p {
    color: #4f6367; }
  body h3 {
    color: #4f6367; }
  body .smallis-container {
    margin: 0px auto; }
    @media (min-width: 767px) {
      body .smallis-container {
        width: 767px; } }
    @media (min-width: 992px) {
      body .smallis-container {
        width: 992px; } }
    @media (min-width: 1200px) {
      body .smallis-container {
        width: 1200px; } }
  body .smallis-grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  body .align-baseline {
    align-self: baseline; }
  body .align-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline; }
  body .justify-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  body .justify-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  body .grid-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  body .smallis-grid-child-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1; }
  body .smallis-grid-child-2 {
    -webkit-box-flex: 2;
    -ms-flex: 2 2;
    flex: 2 2; }
  body .clear-fix {
    clear: both; }
  body .smallis-center-content {
    width: 50%;
    margin: 20px auto; }

header .smallis-site-info h1 a {
  text-decoration: none;
  color: #4f6367; }

header .smallis-navigation-wrap ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px; }
  header .smallis-navigation-wrap ul li a {
    text-decoration: none;
    color: #4f6367;
    font-weight: bold; }
    header .smallis-navigation-wrap ul li a:hover {
      color: #ffa552; }

footer {
  background-color: #4f6367;
  padding: 20px 0;
  color: #FFF; }
  footer p {
    color: #FFF; }
  footer a {
    color: #ffa552; }
  footer .smallis-footer-columns .smallis-footer-column .widget {
    list-style: none; }
    footer .smallis-footer-columns .smallis-footer-column .widget .widgettitle {
      color: #ffa552; }
  footer .smallis-footer-copyright {
    margin: 20px auto; }
    footer .smallis-footer-copyright .smallis-footer-copyright-right {
      text-align: right; }

.page .page-title-container {
  background-color: #4f6367;
  color: #ffa552;
  padding: 10px 0px;
  font-weight: bold; }

.error404 .page-title-container {
  background-color: #4f6367;
  color: #ffa552;
  padding: 10px 0px;
  font-weight: bold; }
  .error404 .page-title-container h3 {
    color: #ffa552; }

.error404 .smallis-meh {
  font-size: 100px;
  text-align: center;
  padding: 0px;
  margin: 0px; }

.search-results .page-title-container {
  background-color: #4f6367;
  color: #ffa552;
  padding: 10px 0px;
  font-weight: bold; }
  .search-results .page-title-container h3 {
    color: #ffa552; }

.search-results .smallis-search-results {
  margin: 20px auto; }
  .search-results .smallis-search-results .smallis-search-result {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    margin: 10px 20px; }
    .search-results .smallis-search-results .smallis-search-result a {
      text-decoration: none; }
      .search-results .smallis-search-results .smallis-search-result a .page-title-container {
        padding: 10px; }

.archive .archive-title-container {
  background-color: #4f6367;
  color: #ffa552;
  padding: 10px 0px;
  font-weight: bold; }

.archive .smallis-posts-container {
  margin: 20px auto; }
  .archive .smallis-posts-container .smallis-post {
    border: 2px solid #4f6367;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    margin: 10px; }
    .archive .smallis-posts-container .smallis-post a {
      text-decoration: none; }
    .archive .smallis-posts-container .smallis-post .smallis-post-image-container {
      height: 300px;
      background-size: cover;
      background-position: center center; }
    .archive .smallis-posts-container .smallis-post .smallis-post-title-container {
      padding: 10px; }
    .archive .smallis-posts-container .smallis-post .smallis-post-exceprt-container {
      padding: 10px; }

.single .post-title-container {
  background-color: #4f6367;
  color: #ffa552;
  padding: 10px 0px;
  font-weight: bold; }

.single .post-image-container {
  height: 500px;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .single .post-image-container .post-title-container {
    background-color: rgba(78, 98, 102, 0.6);
    color: #fff;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    box-sizing: border-box; }
    .single .post-image-container .post-title-container .post-tag {
      margin-right: 10px; }

.single .smallis-post-container {
  margin: 20px auto; }
  .single .smallis-post-container .post-content {
    -ms-flex-preferred-size: 700px;
    flex-basis: 700px;
    margin-right: 10px; }
  .single .smallis-post-container .post-sidebar {
    border-left: 1px solid #4f6367;
    padding: 0px 20px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px; }
    .single .smallis-post-container .post-sidebar li {
      list-style: none;
      color: #4f6367;
      font-weight: bold; }
      .single .smallis-post-container .post-sidebar li a {
        color: #ffa552; }
