/*
*
*	Config scss file
*	Where variables are defined
*
*/
/*
*
*	Main scss file
*	General styles
*
*/
body {
  background-color: #d8e2dc;
  margin: 0px; }
  body p {
    color: #4f6367; }
  body footer {
    background-color: #818479; }
  body .smallis-container {
    margin: 0px auto; }
    @media (min-width: 767px) {
      body .smallis-container {
        width: 767px; } }
    @media (min-width: 992px) {
      body .smallis-container {
        width: 992px; } }
    @media (min-width: 1200px) {
      body .smallis-container {
        width: 1200px; } }
