.error404 {
	.page-title-container {
		background-color: $stormcloud;
		color: $neoncarrot;
		padding: 10px 0px;
		font-weight: bold;

		h3 {
			color: $neoncarrot;
		}
	}
	.smallis-meh {
		font-size: 100px;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
}