/*
*
*	Config scss file
*	Where variables are defined
*
*/

//Colors

$gainsboro: #d8e2dc;	
$stormcloud: #4f6367;
$trolley-grey: #818479;
$soap: #d0cfec;
$white: #FFF;
$neoncarrot: #ffa552;
//End Colors

//Brakepoints
$breakpoints: (
  'small'  : 767px,
  'medium' : 992px,
  'large'  : 1200px,
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}