footer {
	background-color: $stormcloud;
	padding: 20px 0;

	color: $neoncarrot;

	p {
		color: $white;
	}

	.smallis-footer-columns {

		.smallis-footer-column {
			.widget {
				list-style: none;
			}
		}
	}
}