footer {

	padding: 20px;
	background-color: $stormcloud;
	color: $white;

	p {
		color: $white;
	}

	a {
		color: $neoncarrot;
	}
	@include respond-to('small') {
		padding: 20px 0;
	}

	.smallis-footer-columns {

		.smallis-footer-column {
			-ms-flex-preferred-size: 300px;
			flex-basis: 300px;
			
			.widget {
				list-style: none;

				.widgettitle {
					color: $neoncarrot;
				}

				ul {
					margin: 0px;
					padding: 0px;
					li {
						list-style: none;
					}
				}
			}
		}
	}

	.smallis-footer-copyright {
		
		margin: 20px auto;

		.smallis-footer-copyright-right {
 		   text-align: right;
		}
	}
}