/*
*
*	Main scss file
*	General styles
*
*/

body {
	background-color: $gainsboro;
	margin: 0px;

	p {
		color: $stormcloud;
	}

	footer {
		background-color: #818479;
	}

	.smallis-container {
		margin: 0px auto;
		
		@include respond-to('small') {
			width: map-get($breakpoints, 'small');
		}

		@include respond-to('medium') {
			width: map-get($breakpoints, 'medium');
		}

		@include respond-to('large') {
			width: map-get($breakpoints, 'large');
		}
	}			

	.smallis-grid-container {
		display: grid;
	}

	.smallis-grid-child-1 {
		grid-row: 1/2;
	}

	.align-baseline {
		align-content: baseline;
	}

	.justify-end {
		justify-self: end;
	}

	.justify-start {
		justify-self: start;
	}

}