.single {

	.post-title-container {
		background-color: $stormcloud;
		color: $neoncarrot;
		padding: 10px 0px;
		font-weight: bold;
	}

	.post-image-container {

	    height: 500px;
	    background-size: cover;
	    background-position: center center;
	    position: relative;

	    .post-title-container {
	    	background-color: rgba(78,98,102,0.6);
			color: #fff;
			padding: 10px;
			font-weight: bold;
			position: absolute;
			bottom: 0px;
			width: 100%;
			left: 0px;
			box-sizing: border-box;

			.post-tag {
			    margin-right: 10px;

			}
	    }
	}

	.smallis-post-container {
    	margin: 20px auto;

    	.post-content {
    		-ms-flex-preferred-size: 700px;
			flex-basis: 700px;
			margin-right: 10px;

			padding: 20px;

    	}

    	.post-sidebar {

			padding: 0px 20px;
			-ms-flex-preferred-size: 200px;
			flex-basis: 200px;

			@include respond-to('medium') {
				border-left: 1px solid $stormcloud;
			}
				
			li {
				list-style: none;
				color: $stormcloud;
				font-weight: bold;

				a {
					color: $neoncarrot;
				}
			}
		}
	}

}